* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
}

.logo img {
    height: 50px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu li {
    margin-right: 1rem;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

/* Hamburger Icon */
.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
}

.menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    /* Responsive navbar */
    .navbar.responsive {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar.responsive .menu {
        display: block;
        margin-top: 1rem;
    }

    .navbar.responsive .menu li {
        margin-right: 0;
    }

    .menu.show {
        display: block;
    }
}